// colors
@brand-color: #0f0;
@brand-color-darken: darken(@brand-color, 7%);
@brand-color-lighten: lighten(@brand-color, 50%);

@brand-color1: #10cfbd;

@deep-sky-blue: #00bfff;

@cyan: #00ffff;

// fonts
@font-sfuidisplaymedium: 'SFUIDisplay-Medium', sans-serif;
@font-sfuidisplayregular: 'SFUIDisplay-Regular', sans-serif;
@font-sfuidisplaylight: 'SFUIDisplay-Light', sans-serif;
@font-sfuidisplaythin: 'SFUIDisplay-Thin', sans-serif;

@font-robotoregular: 'RobotoRegular', sans-serif;