@media only screen and (max-width: 700px) {
  .visualisation:before {
    -webkit-animation: none !important;
            animation: none !important;
  }
}
@media only screen and (max-height: 640px) and (orientation: portrait) {
  #player {
    height: 100vh;
  }
  #player.playerRight,
  #player.playerLeft {
    -webkit-animation: none;
            animation: none;
  }
  @-webkit-keyframes searchContainerFadeIn {
    100% {
      opacity: 1;
      -webkit-transform: translateY(220px);
              transform: translateY(220px);
    }
  }
  @keyframes searchContainerFadeIn {
    100% {
      opacity: 1;
      -webkit-transform: translateY(220px);
              transform: translateY(220px);
    }
  }
  @-webkit-keyframes searchContainerFadeOut {
    0% {
      opacity: 1;
      -webkit-transform: translateY(220px);
              transform: translateY(220px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  @keyframes searchContainerFadeOut {
    0% {
      opacity: 1;
      -webkit-transform: translateY(220px);
              transform: translateY(220px);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  .searchContainer {
    background-color: transparent;
    border: 0;
    padding: 0;
    width: 292px;
  }
}
